<input type="text" #artistInput (keyup.enter)="onSearch(artistInput.value)" placeholder="Enter Book Name">

<nz-table *ngIf="showData" #nzTable [nzPageSize]="7" [nzData]="booksBindings" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '500px' }">
    <thead>
      <tr>
        <th nzCustomFilter>
            Link
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th>Description</th>
        <th>Author</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.book.value }}</td>
        <td>{{ data.description.value }}</td>
        <td>{{ data.author.value }}</td>
        <td>{{ data.name.value }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
